<p-card styleClass="p-mb-3">
  <div class="p-grid p-nogutter p-d-flex p-ai-center">
    <div class="p-col-12">
      <app-breadcrumb [items]="items"></app-breadcrumb>
    </div>
  </div>
</p-card>

<p-card>
  <div class="p-grid">
    <div class="p-col-12">
      <p-accordion>
        <p-accordionTab header="Care sunt țările terțe ai căror resortisanți au nevoie de viză pentru a intra în Republica Moldova?">
          Lista țărilor terțe ai căror resortisanți trebuie să dețină o viză pentru trecerea frontierei este cuprinsă în Anexa nr.1 la Legea nr.257/2013, iar lista țărilor terțe ai căror resortisanți sunt exonerați de aceasta obligativitate este cuprinsă în Anexa nr.2 la aceeași Lege.
        </p-accordionTab>

        <p-accordionTab header="Care este perioada de ședere autorizată în Republica Moldova pentru un cetățean străin sau apatrid?">
          Străinii/apatrizii care deţin viză şi cei care nu au obligaţia de a obţine viză de intrare în Republica Moldova pot intra pe teritoriul ţării şi se pot afla până la 90 de zile calendaristice în decursul oricărei perioade de 180 de zile calendaristice, ceea ce implică luarea în considerare a ultimei perioade de 180 de zile precedente fiecărei zile de şedere.
        </p-accordionTab>

        <p-accordionTab header="Ce condiții trebuie sa îndeplinească cetățenii străini pentru a intra în Republica Moldova?">
          Intrarea pe teritoriul Republicii Moldova este permisă străinilor care întrunesc următoarele condiţii:
          <ol type="a">
            <li>
              posedă un document de călătorie valabil, recunoscut sau acceptat de Republica Moldova, dacă prin tratatele internaţionale la care Republica Moldova este parte nu se prevede altfel;
            </li>
            <li>
              posedă viză acordată în condiţiile prezentei legi sau, după caz, permis de şedere valabil ori buletin de identitate pentru refugiaţi sau pentru beneficiarii de protecţie umanitară, dacă prin tratatele internaţionale la care Republica Moldova este parte nu s-a stabilit altfel;
            </li>
            <li>
              prezintă documente care justifică scopul intrării şi fac dovada existenţei unor mijloace corespunzătoare atât pentru întreţinere pe perioada şederii, cât şi pentru întoarcere în ţara de origine sau pentru tranzit către un alt stat în care există siguranţa că li se va permite intrarea;
            </li>
            <li>
              prezintă garanţii că li se va permite intrarea pe teritoriul statului de destinaţie sau că vor părăsi teritoriul Republicii Moldova, în cazul străinilor aflaţi în tranzit;
            </li>
            <li>
              nu sunt incluşi în categoria străinilor împotriva cărora s-a instituit măsura interdicţiei de intrare în Republica Moldova sau care au fost declaraţi indezirabili;
            </li>
            <li>
              nu prezintă pericol pentru securitatea naţională, ordinea şi sănătatea publică;
            </li>
            <li>
              nu a fost instituit un consemn nominal de nepermitere a intrării în Republica Moldova.
            </li>
          </ol>
        </p-accordionTab>

        <p-accordionTab header="Ce documente trebuie să prezinte străinii pentru a confirma scopul călătoriei în Republica Moldova?">
          Poliţiştii de frontieră au dreptul să solicite justificarea scopului intrării străinilor în Republica Moldova, care sunt obligaţi să prezinte următoarele documente:
          <ol type="a">
            <li>
              pentru călătorii de afaceri:
              <ul>
                <li>
                  o invitaţie din partea unei întreprinderi, organizaţii sau a unei instituţii;
                </li>
                <li>
                  documente ce confirmă un interes economic (de exemplu: procură, contract de muncă, bilete sau invitaţii de participare la expoziţii);
                </li>
              </ul>
            </li>

            <li>
              pentru călătorii în scop de studiu sau alte tipuri de instruire:
              <ul>
                <li>
                  un document ce atestă înscrierea la o instituţie de învăţământ sau la alte forme de instruire;
                </li>
                <li>
                  carnet de student sau certificat privind frecventarea cursului;
                </li>
              </ul>
            </li>

            <li>
              pentru călătorii turistice sau motive personale:
              <ul>
                <li>
                  document justificativ privind cazarea la hotel, invitaţia din partea gazdei în care se va consemna adresa cazării invitatului;
                </li>
                <li>
                  confirmarea privind rezervarea locului pentru o călătorie organizată sau orice alt document corespunzător indicând planurile călătoriei ce va fi întreprinsă;
                </li>
                <li>
                  biletul de întoarcere sau de circuit;
                </li>
              </ul>
            </li>
            <li>
              pentru călătoriile întreprinse în scopuri politice, ştiinţifice, culturale, sportive, cu ocazia unor evenimente religioase sau în alte scopuri: invitaţii, bilete de intrare, programe în care să fie înscris, acolo unde este posibil, numele organizaţiei-gazdă şi durata vizitei sau orice alt document corespunzător care să indice scopul vizitei;
            </li>
            <li>
              pentru călătoria în scopul îmbarcării la bordul navei, debarcării şi repatrierii membrului de echipaj – actul de identitate al personalului navigant.
            </li>
          </ol>
        </p-accordionTab>

        <p-accordionTab header="Se permite cetățenilor moldoveni cu dublă cetățenie ieșirea din Republica Moldova cu documente eliberate de alt stat?">
          Da, dacă documentele de călătorie sunt incluse în lista documentelor de trecere a frontierei de stat acceptate de Republica Moldova, prevăzute de Hotărârea Guvernului nr.765/2014.
        </p-accordionTab>

        <p-accordionTab header="Care sunt documentele necesare pentru controlul vehiculelor la trecerea frontierei?">
          La controlul trecerii frontierei, alături de documentul de călătorie și permisul de conducere, trebuie să prezentaţi pentru autoturismul pe care-l conduceți, certificatul de înmatriculare valabil al acestuia, precum și asigurarea obligatorie de răspundere civilă auto valabilă pentru Republica Moldova sau pentru străinătate, după caz. În cazul mijlocului de transport cu număr de înmatriculare neutru transmis în folosință, se solicită actul care confirmă transmiterea în folosință a vehiculului respectiv.
        </p-accordionTab>

        <p-accordionTab header="Este posibilă prezentarea la controlul trecerii frontierei a copiilor documentelor necesare pentru circulaţia vehiculelor?">
          La controlul trecerii frontierei este verificată valabilitatea documentelor, fapt pentru care documentul de călătorie, permisul de conducere, certificatul de înmatriculare valabil al autoturismului, asigurarea obligatorie de răspundere civilă auto, trebuie prezentate în original.
        </p-accordionTab>

        <p-accordionTab header="Este necesară prezentarea unei procuri legalizate pentru a fi permisă trecerea frontierei cu un autoturism înmatriculat pe numele altei persoane?">
          La controlul trecerii frontierei, nu este necesar să prezentați polițistului de frontieră documente cu privire la modalitatea de deţinere sau folosinţă a autovehiculului (contract, procură, comodat etc), cu excepția autovehiculului cu numere de înmatriculare neutre. Totodată, actele ce confirmă deţinerea în proprietate sau a dreptului de folosinţă asupra mijlocului de transport înmatriculat în alte state, pot fi solicitate de către Serviciului Vamal.
        </p-accordionTab>

        <p-accordionTab header="Este posibilă traversarea frontierei de stat cu certificat de înmatriculare provizoriu al autovehiculului?">
          În baza certificatului de înmatriculare provizoriu nu este permisă traversarea frontierei de stat a mijlocului de transport.
        </p-accordionTab>

        <p-accordionTab header="Pentru traversarea frontierei de stat a Republicii Moldova este nevoie să prezint rezultatele negative la testul COVID-19?">
          Actualmente, măsurile de prevenire şi control a infecţiei COVID-19 la traversarea frontierei de stat pe sensul de intrare și ieșire în/din Republica Moldova, nu prevăd verificarea testelor COVID-19.
        </p-accordionTab>

        <p-accordionTab header="Fiind plasat în regim de autoizolare este posibilă părăsirea țării înainte de termenul de 14 zile, stabilit în acest sens?">
          În cazul în care la ieșirea din Republica Moldova se constată că persoana nu a respectat regimul de autoizolare, aceasta este supusă sancțiunii contravenționale conform art.76 indicele 1 din Codul Contravenţional al Republicii Moldova, ulterior fiind-ui permisă ieșirea din țară.
        </p-accordionTab>

        <p-accordionTab header="Care sunt documentele de călătorie necesare a fi prezentate la traversarea frontierei de stat?">
          Temei pentru autorizarea trecerii frontierei de stat servesc actele de călătorie valabile prevăzute de Legea nr.269/1994, Legea nr.200/2010, precum şi alte documente stabilite în actele normative.
        </p-accordionTab>

        <p-accordionTab header="Care sunt condițiile de călătorie pentru minorii care au dublă cetățenie, dintre care una a Republicii Moldova și care călătoresc folosind documente de călătorie ale cetățeniei străine?">
          Copiii cetățeni ai Republicii Moldova şi copiii subiecţi ai pluralităţii de cetăţenii, care se identifică inclusiv ca cetăţeni ai Republicii Moldova se află sub protecția statului, fiindu-le aplicabile prevederile legislaţiei naţionale în vigoare.
        </p-accordionTab>

        <p-accordionTab header="Ce mențiuni trebuie să cuprindă, după caz, declarația reprezentantului legal, la ieșirea din țară a unui minor cetățean al Republicii Moldova?">
          Declarația trebuie să cuprindă acordul reprezentantului legal cu privire la efectuarea de călătorii în străinătate de către minor, datele de identitate ale însoțitorului respectiv, ale minorului, precum și ale reprezentantului legal. În declaraţie se indică scopul călătoriei, durata acesteia şi ţara de destinaţie.
        </p-accordionTab>

        <p-accordionTab header="În cazul însoțirii minorului de către un părinte, pentru a ieși din țară este necesară declarația legalizată de la al doilea părinte?">
          Minorii au dreptul de a ieşi şi de a intra în Republica Moldova însoţiţi numai de unul dintre reprezentanţii legali sau de un însoţitor, desemnat prin declaraţie de către reprezentantul legal al cărui semnătură se legalizează notarial. În cazul în care minorul pleacă să se domicilieze în străinătate, este necesar consimţământul, exprimat prin declaraţie, al ambilor părinţi ale căror semnături se legalizează notarial.
        </p-accordionTab>

        <p-accordionTab header="Cum traversează frontiera de stat minorul - cetățean al Republicii Moldova, care este înmatriculat într-o instituție de învățământ din străinătate?">
          Minorii (elevii şi studenţii) care au împlinit vârsta de 14 ani şi sunt înmatriculaţi la studii în instituţii de învăţământ din alte state, pot traversa frontiera de stat neînsoțiți, la ieşirea şi intrarea în Republica Moldova fiind necesară prezentarea actului de înmatriculare la instituţia de învăţământ respectivă şi declaraţia eliberată de unul dintre părinţi, autentificată notarial, care conţine consimţământul acestuia pentru ieşirea şi intrarea minorului în Republica Moldova, cu indicarea ţării de destinaţie, scopului călătoriei, perioadei de aflare a minorului în ţara de destinaţie, iar în cazul altor reprezentanţi legali - consimţământul acestora, exprimat prin decizie a autorităţii tutelare. Declaraţia este valabilă pe o perioadă de un an de studii.
        </p-accordionTab>

        <p-accordionTab header="Cum trebuie de procedat în cazul pierderii documentelor în străinătate?">
          Cetăţenii Republicii Moldova, indiferent de domiciliul sau reşedinţa acestora, care se află în străinătate şi nu sunt în posesia unui document de călătorie valabil pentru revenirea în Republica Moldova au dreptul de a intra în Republica Moldova în baza titlului de călătorie eliberat de misiunile diplomatice sau de oficiile consulare ale Republicii Moldova. Detalii de perfectare: https://mfa.gov.md/ro/content/titlu-de-calatorie
        </p-accordionTab>
      </p-accordion>
    </div>
  </div>
</p-card>
