<p-card styleClass="p-mb-3">
  <div class="p-grid p-nogutter p-d-flex p-ai-center">
    <div class="p-col-6">
      <app-breadcrumb [items]="items"></app-breadcrumb>
    </div>

    <div class="p-col-6 p-d-flex p-jc-end">
      <button
        pButton
        pRipple
        icon="pi pi-plus"
        label="Cerere nouă"
        (click)="openNewRequestDialog()"
      ></button>
    </div>
  </div>
</p-card>

<p-card>
  <div class="p-grid">
    <div class="p-col-12">
      <p-table
        [value]="requests"
        [tableStyle]="{'table-layout': 'auto'}"
        [paginator]="requests?.length > 0"
        [rows]="dataResponse.pageSize"
        [totalRecords]="dataResponse.totalCount"
        [rowsPerPageOptions]="[10,15,20]"
        [(first)]="first"
        [lazy]="true"
        [loading]="configurationService.getLoading(loadingConstant)"
        [lazyLoadOnInit]="false"
        (onLazyLoad)="onLazyLoad($event)"
        [globalFilterFields]="['activityId', 'localityName', 'createdAt', 'startDate', 'endDate', 'statusId']"
      >
        <ng-template pTemplate="header">
          <tr>
            <th>#</th>
            <th>Activitate</th>
            <th>Localitate</th>
            <th>Creat la</th>
            <th>Dată Început</th>
            <th>Dată Sfârșit</th>
            <th>Status</th>
            <th>Acțiune</th>
          </tr>

          <tr>
            <th>-</th>
            <th>
              <p-columnFilter field="activityId" matchMode="equals" [showMenu]="false">
                <ng-template pTemplate="filter" let-value="areaId" let-filter="filterCallback">
                  <p-dropdown
                    [ngModel]="value"
                    [options]="activities"
                    (onChange)="filter($event.value)"
                    placeholder="Toate"
                    optionLabel="activityName"
                    optionValue="activityId"
                    [showClear]="true">
                    <ng-template let-option pTemplate="item">
                      <span [class]="'customer-badge status-' + option.activityId">{{option.activityName}}</span>
                    </ng-template>
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </th>

            <th>
              <p-columnFilter
                type="text"
                field="localityName"
                matchMode="contains"
                [showMenu]="false"
              ></p-columnFilter>
            </th>

            <th>
              <p-columnFilter field="createdAt" matchMode="equals" [showMenu]="false" [showClearButton]="true">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-calendar
                    dateFormat="dd/mm/yy"
                    [ngModel]="value"
                    appendTo="body"
                    (onClearClick)="filter('')"
                    [showButtonBar]="true"
                    [showIcon]="true"
                    (onSelect)="filter($event)"
                  ></p-calendar>
                </ng-template>
              </p-columnFilter>
            </th>

            <th>
              <p-columnFilter field="startDate" matchMode="equals" [showMenu]="false">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-calendar
                    dateFormat="dd/mm/yy"
                    [ngModel]="value"
                    appendTo="body"
                    [showIcon]="true"
                    (onClearClick)="filter('')"
                    [showButtonBar]="true"
                    (onSelect)="filter($event)"
                  ></p-calendar>
                </ng-template>
              </p-columnFilter>
            </th>

            <th>
              <p-columnFilter field="endDate" matchMode="equals" [showMenu]="false">
                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                  <p-calendar
                    dateFormat="dd/mm/yy"
                    [ngModel]="value"
                    appendTo="body"
                    [showIcon]="true"
                    (onClearClick)="filter('')"
                    [showButtonBar]="true"
                    (onSelect)="filter($event)"
                  ></p-calendar>
                </ng-template>
              </p-columnFilter>
            </th>

            <th>
              <p-columnFilter field="statusId" matchMode="equals" [showMenu]="false" [showClearButton]="true">
                <ng-template pTemplate="filter" let-value="statusId" let-filter="filterCallback">
                  <p-dropdown
                    [ngModel]="value"
                    [options]="requestStatuses"
                    (onChange)="filter($event.value)"
                    placeholder="Toate"
                    optionLabel="statusName"
                    optionValue="statusId"
                    [showClear]="true">
                    <ng-template let-option pTemplate="item">
                      <span [class]="'customer-badge status-' + option.statusId">{{option.statusName}}</span>
                    </ng-template>
                  </p-dropdown>
                </ng-template>
              </p-columnFilter>
            </th>

            <th>-</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body" let-row let-rowIndex="rowIndex">
          <tr>
            <td>{{rowIndex + 1}}</td>
            <td>{{getActivityNameById(row.activityId)}}</td>
            <td>
              <div *ngFor="let area of getAreas(row)">
                <span class="blue-text">Zona:</span> {{area.areaName}}
                <div class="p-ml-4" *ngFor="let district of area.districts">
                  <span class="green-text">Oraș: </span> {{district.districtName}}
                  <div class="p-ml-4 localities-list"><span class="orange-text">Localități:</span> {{getLocalitiesAsString(district.localities)}}</div>
                </div>
              </div>
            </td>
            <td>{{row.createdAt | date: 'dd/MM/yyyy'}}</td>
            <td>{{row.startDate | date: 'dd/MM/yyyy'}}</td>
            <td>{{row.endDate | date: 'dd/MM/yyyy'}}</td>
            <td>
              <p-badge [value]="getStatusNameById(row.statusId)" [severity]="getStatusSeverityString(row.statusId)"></p-badge>
            </td>
            <td style="min-width: 8rem">
              <button
                type="button"
                pButton
                pRipple
                class="p-button-rounded p-button-info p-button-sm p-mr-3"
                icon="pi pi-eye"
                pTooltip="Vizualizează cererea"
                tooltipPosition="top"
                *ngIf="row.statusId !== 2"
              ></button>

              <button
                type="button"
                pButton
                pRipple
                class="p-button-rounded p-button-success p-button-sm p-mr-3"
                icon="pi pi-eye"
                pTooltip="Vizualizează permisul"
                tooltipPosition="top"
                (click)="openLicenseDialog(row.licenseId, row.licenseNumber)"
                *ngIf="row.statusId === 2"
              ></button>

<!--              <button-->
<!--                type="button"-->
<!--                pButton-->
<!--                pRipple-->
<!--                class="p-button-rounded p-button-secondary p-button-sm p-mr-3"-->
<!--                icon="pi pi-replay"-->
<!--                pTooltip="Reemite cererea"-->
<!--                tooltipPosition="top"-->
<!--              ></button>-->

              <button
                type="button"
                pButton
                pRipple
                class="p-button-rounded p-button-danger p-button-sm"
                icon="pi pi-times"
                pTooltip="Anulează cererea"
                tooltipPosition="top"
                *ngIf="row.statusId === 1"
              ></button>
<!--              <button-->
<!--                type="button"-->
<!--                pButton-->
<!--                pRipple-->
<!--                class="p-button-rounded p-button-secondary p-button-sm"-->
<!--                icon="pi pi-cog"-->
<!--                (click)="actions.toggle($event)"-->
<!--              ></button>-->

<!--              <p-menu-->
<!--                #actions-->
<!--                [popup]="true"-->
<!--                appendTo="body"-->
<!--                [model]="actionMenu"-->
<!--              ></p-menu>-->
            </td>
          </tr>
        </ng-template>

      </p-table>
    </div>
  </div>
</p-card>
