@import "../../../assets/styles/_variables";

::ng-deep {
  .top-nav {
    padding-left: 0;
    margin: 0;
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 98;
    height: 86px;
    border-bottom: 1px solid $border;

    .logo {
      display: flex;
      align-items: center;
      margin-right: 1rem;

      img {
        max-width: 50px;
        margin-right: .5rem;
      }

      .logo-title {
        display: inline-block;
        max-width: 285px;
        color: $color-white;
        font-weight: bold;
        font-size: 1.5rem;
      }
    }

    .p-menubar.top-menu {
      ul {
        border-left: 2px solid rgba(255, 255, 255, 0.6);
        padding-left: 1rem;
      }
    }

    .p-menubar.top-right-menu {
      ul {
        border-left: none;
        padding-left: 0;
      }
    }

    .p-menubar.top-menu,
    .p-menubar.top-right-menu {
      border: none;
      border-radius: 0;

      .p-menuitem-link .p-menuitem-text {
        text-transform: uppercase;
      }
    }
  }

  .container {
    height: calc(100% - 86px) !important;
    position: fixed;
    top: 86px;
    width: 100%;
    display: flex;
    background: $background;

    .left-nav {
      width: 300px;
      border-right: 1px solid $border;
      background: $content;

      .p-menu.left-menu {
        width: 100%;
        border: none;
        padding: 0;

        .p-menuitem-link {
          padding: 1.5rem;

          .p-menuitem-text {
            text-transform: uppercase;
          }

          &.p-menuitem-link-active {
            background: rgba(255, 255, 255, 0.03);
            border-left: 2px solid rgba(255, 255, 255, 0.6);
          }
        }
      }
    }

    .content {
      width: 100%;
      padding: 1rem;
      overflow: auto;
    }
  }
}
