<p-card styleClass="p-mb-3">
  <div class="p-grid p-nogutter p-d-flex p-ai-center">
    <div class="p-col-12">
      <app-breadcrumb [items]="items"></app-breadcrumb>
    </div>
  </div>
</p-card>

<p-card>
  <div class="p-grid">
    <div class="p-col-12">
      <h4 class="p-mt-0 bottom-bordered p-pb-2 p-mb-0">CONTACTE</h4>
    </div>

    <div class="p-col-12">
      <p class="p-mt-0"><b>Adresa:</b> str. Petricani 19, municipiul Chișinău, Republica Moldova, MD-2059;</p>
      <p><b>Fax:</b> (373-22) 259-651</p>
      <p><b>Email:</b> politia.frontiera@border.gov.md</p>
      <p><b>Linia verde:</b> (373-22) 259-717 Informații privind traversarea frontierei de stat (24/7)</p>
    </div>

    <div class="p-col-12">
      <h4 class="p-mt-0 bottom-bordered p-pb-2 p-mb-0">SERVICIUL DE PRESĂ</h4>
    </div>

    <div class="p-col-12">
      <p class="p-mt-0"><b>Tel:</b> (373-22) 259-613 / 259-744</p>
      <p><b>Program:</b> Luni-Vineri, 08.00-17.00</p>
      <p><b>Email:</b> informare@border.gov.md</p>
    </div>
  </div>
</p-card>
