<app-spinner *ngIf="configurationService.getLoading(loadingConstant)"></app-spinner>

<div class="p-grid">
  <div class="p-col-12">
    <h4 class="p-mt-0 bottom-bordered p-pb-2 p-mb-0">Date Personale</h4>
  </div>

  <div class="p-col-3 p-d-flex p-flex-column">
    <label>Prenume: </label>
    <span class="info-text">{{request?.firstName}}</span>
  </div>

  <div class="p-col-3 p-d-flex p-flex-column">
    <label>Nume: </label>
    <span class="info-text">{{request?.lastName}}</span>
  </div>

  <div class="p-col-3 p-d-flex p-flex-column">
    <label>IDNP: </label>
    <span class="info-text">{{request?.citizenIdnp}}</span>
  </div>

<!--  <div class="p-col-3 p-d-flex p-flex-column">-->
<!--    <label>Telefon: </label>-->
<!--    <span class="info-text">{{request?.phone}}</span>-->
<!--  </div>-->

  <div class="p-col-12 p-mt-3">
    <h4 class="p-mt-0 bottom-bordered p-pb-2 p-mb-0">Date Generale</h4>
  </div>

  <div class="p-col-3 p-d-flex p-flex-column">
    <label>Status:</label>
    <span class="info-text" [ngClass]="getStatusSeverityClass(request?.statusId)">{{getStatusNameById(request?.statusId)}}</span>
  </div>

  <div class="p-col-3 p-d-flex p-flex-column">
    <label>Activitate: </label>
    <span class="info-text">{{getActivityNameById(request?.activityId)}}</span>
  </div>

  <div class="p-col-3 p-d-flex p-flex-column">
    <label>De la: </label>
    <span class="info-text">{{request?.startDate | date: 'dd/MM/yyyy'}}</span>
  </div>

  <div class="p-col-3 p-d-flex p-flex-column">
    <label>Până la: </label>
    <span class="info-text">{{request?.endDate | date: 'dd/MM/yyyy'}}</span>
  </div>

  <div class="p-col-3 p-d-flex p-flex-column">
    <label>Creat la: </label>
    <span class="info-text">{{request?.createdAt | date: 'dd/MM/yyyy'}}</span>
  </div>

  <div class="p-col-3 p-d-flex p-flex-column">
    <label>Notițe adiționale:</label>
    <span>{{isNullOrWhiteSpace(request?.note) ? '-' : request?.note}}</span>
  </div>

  <div class="p-col-3 p-d-flex p-flex-column">
    <label>Metode de primire a permisului:</label>
    <div *ngFor="let method of request?.receivingMethods">
      <strong>{{method.receivingMethodName}} : </strong><span>{{method.receivingMethodValue}}</span>
    </div>
  </div>

  <div class="p-field-checkbox p-col-3">
    <p-checkbox
      [ngModel]="request?.notifyExpiry"
      [binary]="true"
      disabled
      id="notify-expiry"
    ></p-checkbox>
    <label for="notify-expiry">Notificare despre expirarea permisului</label>
  </div>

  <div class="p-col-12 p-mt-3">
    <h4 class="p-mt-0 bottom-bordered p-pb-2 p-mb-0">Localități:</h4>
  </div>

  <div class="p-col-12 p-d-flex p-flex-column">
      <div *ngFor="let area of getAreas(request)">
        <span class="blue-text">Zona:</span> {{area.areaName}}
        <div class="p-ml-4" *ngFor="let district of area.districts">
          <span class="green-text">Oraș: </span> {{district.districtName}}
          <div class="p-ml-4 localities-list"><span class="orange-text">Localități:</span> {{getLocalitiesAsString(district.localities)}}</div>
        </div>
      </div>
  </div>

  <div class="p-col-12 p-mt-3" *ngIf="request?.mconnectValidations?.length">
    <h4 class="p-mt-0 bottom-bordered p-pb-2 p-mb-0">Validări mConnect:</h4>
  </div>

  <div class="p-col-6 p-d-flex p-flex-column" *ngFor="let validation of request?.mconnectValidations">
    <label>{{validation.validationTypeName}}:</label>
    <ul *ngFor="let value of validation.validationValues">
      <li>{{value}}</li>
    </ul>
  </div>

  <div class="p-col-12 p-d-flex p-flex-column">
    <label for="notes">Note adiționale:</label>
    <textarea
      pInputTextarea
      name="notes"
      id="notes"
      autoResize="autoResize"
    ></textarea>
  </div>

  <div class="p-col-12 p-d-flex p-jc-end">
    <button
      pButton
      pRipple
      [ngClass]="request?.statusId === RequestStatuses.Waiting ? 'p-mr-3' : ''"
      icon="pi pi-check"
      label="Aprobă"
      (click)="onApproveRequest()"
      *ngIf="request?.statusId === RequestStatuses.Waiting"
    ></button>

    <button
      pButton
      pRipple
      class="p-button-danger p-button-outlined"
      icon="pi pi-times"
      label="Respinge"
      *ngIf="request?.statusId === RequestStatuses.Waiting"
    ></button>
  </div>
</div>
