<p-card styleClass="p-mb-3">
  <div class="p-grid p-nogutter p-d-flex p-ai-center">
    <div class="p-col-12">
      <app-breadcrumb [items]="items"></app-breadcrumb>
    </div>
  </div>
</p-card>

<p-card>
  <div class="p-grid">
    <div class="p-col-12">
      <p-accordion>
        <p-accordionTab header="Acte legislative" [selected]="true">
          <ul class="law-acts">
            <li>
              <a href="http://lex.justice.md/index.php?action=view&amp;view=doc&amp;lang=1&amp;id=342894" target="_blank">
                Legea nr.215 din 04.11.2011 cu privire la frontiera de stat a Republicii Moldova
              </a>
            </li>
            <li>
              <a href="http://lex.justice.md/index.php?action=view&view=doc&lang=1&id=342897" target="_blank">
                Legea nr.283 din 28.12.2011 cu privire la Poliţia de Frontieră
              </a>
            </li>
            <li>
              <a href="http://lex.justice.md/index.php?action=view&view=doc&lang=1&id=311701" target="_blank">
                Legea nr.619 din 31.10.1995 privind organele securităţii statului
              </a>
            </li>
            <li>
              <a href="http://lex.justice.md/index.php?action=view&view=doc&lang=1&id=311638" target="_blank">
                Legea nr.269-XIII din 09.11.94 cu privire la ieşirea şi intrarea în Republica Moldova
              </a>
            </li>
            <li>
              <a href="http://lex.justice.md/index.php?action=view&view=doc&lang=1&id=311641" target="_blank">
                Legea nr.273-XIII din 9 noiembrie 1994 privind actele de identitate din sistemul naţional de paşapoarte
              </a>
            </li>
            <li>
              <a href="http://lex.justice.md/index.php?action=view&view=doc&lang=1&id=350980" target="_blank">
                Legea nr.257 din 1 noiembrie 2013 privind resortisanţii statelor terţe care au obligaţia deţinerii unei vize şi resortisanţii statelor terţe care sînt exoneraţi de obligativitatea deţinerii unei vize la traversarea frontierei de stat a Republicii Moldova
              </a>
            </li>
            <li>
              <a href="http://lex.justice.md/index.php?action=view&view=doc&lang=1&id=368811" target="_blank">
                Legea nr.288 din 16 decembrie 2016 privind funcţionarul public cu statut special din cadrul Ministerului Afacerilor Interne
              </a>
            </li>
            <li>
              <a href="http://lex.justice.md/index.php?action=view&view=doc&lang=1&id=370859" target="_blank">
                Legea nr.94 din 02 iunie 2017 pentru modificarea şi completarea unor acte legislative.
              </a>
            </li>
          </ul>
        </p-accordionTab>
      </p-accordion>
    </div>

    <div class="p-col-12">
      <h4 class="p-mt-0 bottom-bordered p-pb-2 p-mb-0">CONTACTE</h4>
    </div>

    <div class="p-col-12">
      <p class="p-mt-0"><b>Adresa:</b> str. Petricani 19, municipiul Chișinău, Republica Moldova, MD-2059;</p>
      <p><b>Fax:</b> (373-22) 259-651</p>
      <p><b>Email:</b> politia.frontiera@border.gov.md</p>
      <p><b>Linia verde:</b> (373-22) 259-717 Informații privind traversarea frontierei de stat (24/7)</p>
    </div>

    <div class="p-col-12">
      <h4 class="p-mt-0 bottom-bordered p-pb-2 p-mb-0">SERVICIUL DE PRESĂ</h4>
    </div>

    <div class="p-col-12">
      <p class="p-mt-0"><b>Tel:</b> (373-22) 259-613 / 259-744</p>
      <p><b>Program:</b> Luni-Vineri, 08.00-17.00</p>
      <p><b>Email:</b> informare@border.gov.md</p>
    </div>
  </div>
</p-card>
