$color-logo-text: #54565b;
$color-logo-blue: #1dacdc;

//$color-blue: #007ad9;
//$color-green: #34A835;
//$color-orange: #ff9a39;
//$color-red: #e91224;
//$color-white: #ffffff;
//$color-black: #000000;
//$color-grey-background: #efefef;
//$color-text: #333333;
//$color-logo-text: #54565b;
//$color-logo-blue: #1dacdc;

// saga-blue colors
$color-blue: #2196F3;
$color-green: #689F38;
$color-orange: #FBC02D;
$color-red: #F44336;
//$color-error: #F44336;
$color-white: #ffffff;
$color-black: #212529;

$color-light-yellow: #ffffe0;

$color-grey-background: #F8F9FA;
$color-highlight-background: #E3F2FD;

$color-border: #DEE2E6;
$color-form-border: #CED4DA;
$color-form-border-hover: #2196F3;
$color-form-filled-background: #f8F9FA;

$color-text: #495057;
$color-text-secondary: #6C757D;
$color-text-on-highlight: #495057;
$color-hover-background: #E9ECEF;

$color-button-secondary: #607D8B;
$color-button-success: #C5E1A5;
$color-button-info: #81D4FA;
$color-button-warning: #FFE082;
$color-button-help: #9C27B0;
$color-button-danger: #F48FB1;

$color-message-info: #B3E5FC;
$color-message-success: #C8E6C9;
$color-message-warning: #FFECB3;
$color-message-error: #FFCDD2;

$border-radius: 3px;
$disabled-opacity: .6;

//$fontFamily: ;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$background: #121212;
$border: #383838;
$content: #1E1E1E;

$color-green-mpass: #1286A4;
$color-green-border-gov: #208030;
